<a href="https://colab.research.google.com/github/jmlDC/MediaBias-Thesis22-23/blob/prep_CuratedDS/Cleaner.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Mounting Gdrive

In [2]:
from google.colab import drive
drive.mount('/content/gdrive')

dir  = "/content/gdrive/MyDrive/THESIS-MS/Git-Thesis22-23/"

Mounted at /content/gdrive

## Imports

In [6]:
import pandas as pd
import nltk
nltk.download('punkt')

from nltk.tokenize import sent_tokenize

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.

### Function

In [56]:
def make_annotateDF(df):
    workingDF = pd.DataFrame(columns=['Text','Annotate'])

    for index, row in df.iterrows():
        # print(df['Title'].iloc[index])
        new_row = pd.DataFrame({'Text': df['Title'].iloc[index], 'Annotate':''}, index=[0]) 
        workingDF = pd.concat([workingDF.loc[:], new_row]).reset_index(drop=True) 
        text = str(df['Text'].iloc[index])
        print(text)
        sentences = sent_tokenize(text)
        for sentence in sentences:
            if (', GMA Integrated News' in sentence):
                # print(sentence)
                pass
            else:
                new_row = pd.DataFrame({'Text': sentence, 'Annotate':''}, index=[0]) 
                workingDF = pd.concat([workingDF.loc[:], new_row]).reset_index(drop=True) 

    return workingDF

## Main

### GMA

In [41]:
gma = pd.read_csv(f'{dir}Official/GMA_2023-05-07NEWS.csv')
gma

,Unnamed: 0,Title,Author,Date,Text
0,0,"DOH logs 1,920 new COVID-19 cases, highest dai...",By GMA Integrated News,2023-05-07,"The Philippines on Sunday registered 1,920 ne..."
1,1,"DOH logs 9 new COVID-19 deaths; 1,878 fresh ca...",NaN,2023-05-07,The Department of Health said Saturday that t...
2,2,Bettor wins P55.3 million jackpot in Grand Lot...,By GMA Integrated News,2023-05-07,"A bettor won the jackpot prize of P55,394,255..."
3,3,Filipinos watch as King Charles III of Britain...,By GMA Integrated News,2023-05-06,Filipinos monitored the coronation of the Uni...
4,4,"Marcos will not abolish NTF-ELCAC, says NSC",By GMA Integrated News,2023-05-06,President Ferdinand R. Marcos Jr. has no inte...
...,...,...,...,...,...
2218,2218,"SC upholds House journal over videos, photos; ...","By JOAHNA LEI CASILAO, GMA Integrated News",2023-01-27,The Supreme Court has upheld the constitution...
2219,2219,Philippines' justice chief says ICC drug war p...,"By JOAHNA LEI CASILAO, GMA Integrated News",2023-01-27,Justice Secretary Jesus Crispin Remulla descr...
2220,2220,De Lima drug cases may be resolved by March —l...,"By JOAHNA LEI CASILAO, GMA Integrated News",2023-01-27,The camp of detained former Senator Leila de ...
2221,2221,Philippines to appeal ICC’s resumption of drug...,"By JOAHNA LEI CASILAO, GMA Integrated News",2023-01-27,The Philippine government intends to appeal t...
2222,2222,Reported death toll from bad weather now at 40...,NaN,2023-01-27,There are now 40 reported fatalities due to i...

In [48]:
gma_df = make_annotateDF(gma)
gma_df

                                                    Text Annotate
0      DOH logs 1,920 new COVID-19 cases, highest dai...
1       The Philippines on Sunday registered 1,920 ne...
2      According to GMA Integrated News Research, the...
3      It is the fourth straight day of more than 1,0...
4      Data from the Department of Health's COVID-19 ...
...                                                  ...      ...
38017  A total of 1,858 houses were reported damaged ...
38018  Damage to agriculture worth PP885,165,517 and ...
38019  The National Irrigation Administration also re...
38020  A state of calamity was declared in 85 cities ...
38021  Assistance worth P102,369,573 was provided to ...

[38022 rows x 2 columns]

### PNA

In [ ]:
pna = pd.read_csv(f'{dir}Official/PhilippineNewsAgency_2023-05-06NEWS.csv')
pna

In [ ]:
pna_df = make_annotateDF(pna)
pna_df

### Rappler

In [10]:
rappler = pd.read_csv(f'{dir}Official/Rappler_2023-05-07NEWS.csv')
rappler

,Unnamed: 0,Title,Author,Date,Text
0,0,Marcos the party-going schoolboy returns to UK...,Lian Buan,2023-05-05,"LONDON, United Kingdom – In the late ’70s, Fer..."
1,1,"Ablan confirms resignation from DepEd, denies ...",Ryan Macasero,2023-05-05,"MANILA, Philippines – Former Department of Edu..."
2,2,WATCH: Paano naibenta sa labas ang DepEd lapto...,Rappler.com,2023-05-05,"MANILA, Philippines – Naaalala ‘nyo ba ‘yung m..."
3,3,"In unprecedented move, Filipino journalist har...",Gaby Baizas,2023-05-05,"MANILA, Philippines – Days after media workers..."
4,4,Marcos says Philippines bases could be ‘useful...,Reuters,2023-05-05,"WASHINGTON DC, USA – Philippines President Fer..."
...,...,...,...,...,...
2196,2196,Fewer Filipinos skeptical of COVID-19 jabs – SWS,Sofia Tomacruz,2022-01-21,"MANILA, Philippines – As the coronavirus is po..."
2197,2197,"Duterte appoints Malacañang official, ex-Napol...",NaN,2022-01-21,"MANILA, Philippines – President Rodrigo Dutert..."
2198,2198,‘Ironclad’ PH-South Korea alliance seen with s...,Jairo Bolledo,2022-01-21,"MANILA, Philippines – The Philippines is looki..."
2199,2199,"3 Cordillera provinces, Northern Samar placed ...",NaN,2022-01-20,"MANILA, Philippines – The alert level of three..."
2200,2200,Comelec starts printing ballots for 2022 polls,Dwight de Leon,2022-01-20,The printing of official ballots for the 2022 ...

In [49]:
rappler_df = make_annotateDF(rappler)
rappler_df

                                                    Text Annotate
0      Marcos the party-going schoolboy returns to UK...
1      LONDON, United Kingdom – In the late ’70s, Fer...
2      But on Friday, May 5, he lands in London as a ...
3      Marcos, his first lady Louise Araneta Marcos a...
4      Marcos is flying in from Washington DC where h...
...                                                  ...      ...
49250  But the Supreme Court is not a cause of delay,...
49251  The printing of ballots was supposed to start ...
49252  Some 67.4 million ballots will be printed over...
49253  The committee had guaranteed there was a conti...
49254                                      – Rappler.com

[49255 rows x 2 columns]

### SunStar

In [11]:
sunstar = pd.read_csv(f'{dir}Official/SunStar_2023-05-07NEWS.csv')
sunstar

,Unnamed: 0,Title,Author,Date,Text
0,0,Sandiganbayan affirms denial of motion seeking...,Third Anne Peralta-Malonzo,"May 07, 2023",THE Sandiganbayan has affirmed the decision of...
1,1,PH to reassess protocols with end of Covid glo...,NaN,"May 06, 2023",WITH the end of the global emergency status fo...
2,2,DMW: Work experience top criterion for oversea...,NaN,"May 06, 2023",THE Department of Migrant Workers (DMW) on Sat...
3,3,Marcos accepts courtesy resignation of 2 senio...,Third Anne Peralta-Malonzo,"May 05, 2023",PRESIDENT Ferdinand “Bongbong” Marcos has conf...
4,4,"DOH reiterates call for kids to get measles, p...",NaN,"May 05, 2023",FIVE days after starting its mass immunization...
...,...,...,...,...,...
2261,2261,"CSF indigents get cash aid, food packs from Guv",Ian Ocampo Flora,"January 30, 2023",CITY OF SAN FERNANDO The provincial government...
2262,2262,AC execs help Bale Pusu ward reunite with family,Charlene A. Cayabyab,"January 28, 2023",ANGELES CITY The city government here has faci...
2263,2263,Cops seize P14-M 'shabu' in Bulacan,Princess Clea Arcellaz,"January 28, 2023",CITY OF SAN FERNANDO More than two kilos of su...
2264,2264,Crissot's 156 birth anniversary commemorated,Ian Ocampo Flora,"January 28, 2023",BACOLOR The heirs of Juan Crisostomo Soto (Cri...
2265,2265,CSF council inquiry on power rate hike launched,Princess Clea Arcellaz,"January 28, 2023",CITY OF SAN FERNANDO The Sangguniang Panlungso...

In [58]:
sunstar_df = make_annotateDF(sunstar)
sunstar_df

                                                    Text Annotate
0      Sandiganbayan affirms denial of motion seeking...
1      THE Sandiganbayan has affirmed the decision of...
2      A careful reading of the defendants’ motion sh...
3      In view of the foregoing, the defendants faile...
4      The Court thus maintains its earlier pronounce...
...                                                  ...      ...
19286  The said session was attended by representativ...
19287  During the inquiry, SFELAPCO representatives e...
19288  It was also disclosed that the expiration of S...
19289  Macalino assailed SFELAPCO’s alleged lack of c...
19290  The power provider executives responded by say...

[19291 rows x 2 columns]

### Manila Bulletin

In [52]:
mb = pd.read_csv(f'{dir}Official/manilaBulletin_2023-05-05_NEWS.csv')
mb

,Unnamed: 0,Title,Author,Date,Text
0,0,'Thank you gov': Cong Roman mourns passing of ...,Ellson Quismorio,"May 5, 2023",Bataan 1st district Rep. Geraldine Roman paid ...
1,1,P5-M reward offered to find missing Chinese pa...,Martin Sadongdong,"May 5, 2023",A P5-million reward was offered to anyone who ...
2,2,"Hontiveros: Nuclear energy a terrible, false s...",Hannah Torregoza,"May 5, 2023","\nSenator Risa Hontiveros on Friday, May 5 qu..."
3,3,You go girl! Pro-sports solon hails Kaila Napo...,Ellson Quismorio,"May 5, 2023",The first one is always special.\nPuwersa ng B...
4,4,Expedite release of Excellence in Teacher Educ...,Merlina Hernando-Malipot,"May 5, 2023",To further strengthen teacher education in the...
...,...,...,...,...,...
1999,1999,"Diokno, Australian envoy share notes on deepen...",Raymund Antonio,"Mar 25, 2023",Finance Secretary Benjamin Diokno met with Aus...
2000,2000,Australian gov't drums up interest in PH airpo...,Raymund Antonio,"Mar 25, 2023",The Australian government is looking to “drum ...
2001,2001,Proposed EBET law passed on 3rd reading; here'...,Ellson Quismorio,"Mar 25, 2023",The lower chamber recently gave its final appr...
2002,2002,Immediate expansion of gov’t subsidies to kind...,Merlina Hernando-Malipot,"Mar 25, 2023",A network of advocates called for the immediat...
2003,2003,"P​H, China vow UNCLOS​ compliance, seek Indo-P...",Joseph Pedrajas,"Mar 25, 2023",The Philippines and China have agreed to adher...

In [57]:
mb_df = make_annotateDF(mb)
mb_df

                                                    Text Annotate
0      'Thank you gov': Cong Roman mourns passing of ...
1      Bataan 1st district Rep. Geraldine Roman paid ...
2      "It is with a heavy heart that I offer my sinc...
3      "His unwavering commitment to enriching the li...
4          "Thank you Governor Padilla for your service.
...                                                  ...      ...
27997  "The Philippines and China also discussed new ...
27998  On Thursday, Lazaro started chairing with Chin...
27999  The conduct of the BCM, a confidence-building ...
28000  In an earlier pronouncement, Lazaro asserted t...
28001  This came as China is accused of conducting gr...

[28002 rows x 2 columns]