<a href="https://colab.research.google.com/github/jmlDC/MediaBias-Thesis22-23/blob/Modeling/Exploration.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
from google.colab import drive
drive.mount('/content/gdrive')

dir  = "/content/gdrive/MyDrive/THESIS-MS/Git-Thesis22-23/"

Mounted at /content/gdrive

In [3]:
import pandas as pd

In [5]:
df = pd.read_csv(f'{dir}output_gru_lstm/curated_dataset-withTrad-last.csv')
df

,Text,Annotate,LSTM_framing,GRU_framing,LR_framing,SVM_framing
0,"DOH logs 1,920 new COVID-19 cases, highest dai...",2.0,11.0,11.0,2.0,5.0
1,"The Philippines on Sunday registered 1,920 ne...",14.0,11.0,11.0,5.0,5.0
2,"According to GMA Integrated News Research, th...",11.0,11.0,11.0,9.0,5.0
3,"It is the fourth straight day of more than 1,...",9.0,11.0,11.0,2.0,5.0
4,Data from the Department of Health's COVID-19...,9.0,11.0,2.0,2.0,9.0
...,...,...,...,...,...,...
19995,“Itataas natin ang ating alert status. Magpap...,7.0,7.0,7.0,7.0,7.0
19996,(We will raise our alert status. We will depl...,8.0,8.0,8.0,8.0,7.0
19997,“Bukas o mamayang gabi ay ibababa ang heighte...,8.0,8.0,8.0,13.0,13.0
19998,(The heightened alert status will be raised e...,8.0,8.0,8.0,13.0,5.0
19999,Maranan said that the PNP will allocate its a...,8.0,6.0,9.0,5.0,5.0