<a href="https://colab.research.google.com/github/jmlDC/MediaBias-Thesis22-23/blob/Modeling/Modeling.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Modeling

In [19]:
from google.colab import drive
drive.mount('/content/gdrive')

dir  = "/content/gdrive/MyDrive/THESIS-MS/Git-Thesis22-23/"

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).

In [15]:
import pandas as pd
from sklearn.model_selection import train_test_split

In [24]:
MFC_df = pd.read_csv(f'{dir}Official/MFC_prepared.csv', usecols=["code_frames", "annotations"])

In [25]:
MFC_df

       code_frames                                        annotations
0             10.0  Immigrants without HOPE need help entering col...
1              5.0  But in the eyes of the law, he is an illegal i...
2             15.0            Reaction to Tancredo, Lamm as predicted
3             13.0  That, said the congressman, is what always hap...
4              1.0                                  $50,000 per entry
...            ...                                                ...
46794         11.0                 Smoking is becoming a social taboo
46795          5.0   Nor does it aid lawyers seeking novel ways to...
46796         15.0                                   'Ashes to Ashes'
46797         15.0          SMOKE SCREEN IS SEEN BEHIND THE SMOKELESS
46798          1.0             CIGARETTE MAKERS AND THE PUBLIC HEALTH

[46799 rows x 2 columns]