<a href="https://colab.research.google.com/github/jmlDC/MediaBias-Thesis22-23/blob/SBP-Brims/Notebooks/DatasetDistribution.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Mounting Gdrive

In [60]:
from google.colab import drive
drive.mount('/content/gdrive')

dir  = "/content/gdrive/MyDrive/THESIS-MS/MediaBias-Thesis22-23/dataset/"

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).

## Imports

In [61]:
import pandas as pd

# Division

## MB

In [62]:
mb = pd.read_csv(f'{dir}cleaned_newsArticles/mb-HL.csv')

In [63]:
mb

                                                   Text  Annotate
0     'Thank you gov': Cong Roman mourns passing of ...       NaN
1     Bataan 1st district Rep. Geraldine Roman paid ...       NaN
2     P5-M reward offered to find missing Chinese pa...       NaN
3     A P5-million reward was offered to anyone who ...       NaN
4     Hontiveros: Nuclear energy a terrible, false s...       NaN
...                                                 ...       ...
3868  The lower chamber recently gave its final appr...       NaN
3869  Immediate expansion of gov’t subsidies to kind...       NaN
3870  A network of advocates called for the immediat...       NaN
3871  P​H, China vow UNCLOS​ compliance, seek Indo-P...       NaN
3872  The Philippines and China have agreed to adher...       NaN

[3873 rows x 2 columns]

In [ ]:
# 3872 = 968

In [ ]:
Amb = mb.iloc[:968]
Amb

                                                  Text  Annotate
0    'Thank you gov': Cong Roman mourns passing of ...       NaN
1    Bataan 1st district Rep. Geraldine Roman paid ...       NaN
2    P5-M reward offered to find missing Chinese pa...       NaN
3    A P5-million reward was offered to anyone who ...       NaN
4    Hontiveros: Nuclear energy a terrible, false s...       NaN
..                                                 ...       ...
963      Grand, Mega lotto jackpots still up for grabs       NaN
964  No one hit the jackpot prizes for Grand Lotto ...       NaN
965  PRC announces results for April 2023 Electroni...       NaN
966  The Professional Regulation Commission (PRC) a...       NaN
967      Tulfo most trusted, approved senator — survey       NaN

[968 rows x 2 columns]

In [ ]:
Bmb = mb.iloc[968:1936]
Bmb

                                                   Text  Annotate
968   Senator Raffy Tulfo received the highest trust...       NaN
969   DepEd told: Blended learning not a ‘cure-all’ ...       NaN
970   A group of education workers on Wednesday, Apr...       NaN
971   Once Bantag surrenders or arrested, DOJ eyes P...       NaN
972   Justice Secretary Jesus Crispin C. Remulla sai...       NaN
...                                                 ...       ...
1931  The National Security Council (NSC)  “with gre...       NaN
1932  Tolentino: Include simulation of OFW evacuatio...       NaN
1933  Senator Francis "Tol" Tolentino on Monday, Apr...       NaN
1934  PH can learn from Japan’s drastic smoking rate...       NaN
1935  The Philippines – where 1 in 4 adults are smok...       NaN

[968 rows x 2 columns]

In [64]:
Cmb = mb.iloc[1936:2904]
Cmb

                                                   Text  Annotate
1936                         DFA services to go digital       NaN
1937  Various services being offered by the Departme...       NaN
1938  Marcos greets FL Liza on 30th wedding anniversary       NaN
1939  President Ferdinand "Bongbong" Marcos Jr. has ...       NaN
1940  PNP-CIDG ordered to submit more evidence on ch...       NaN
...                                                 ...       ...
2899  PH diplomat tells China not to question PH-US ...       NaN
2900  Philippine Ambassador to the United States Jos...       NaN
2901  China enjoins Asian countries to uphold ‘strat...       NaN
2902  China wants countries in Asia to “uphold strat...       NaN
2903  Public told: ‘Remember, honor, emulate valor o...       NaN

[968 rows x 2 columns]

In [ ]:
Dmb = mb.iloc[2904:3872]
Dmb

                                                   Text  Annotate
2904  The Department of National Defense (DND) calle...       NaN
2905  Over 100 Mindoro farmers get free legal servic...       NaN
2906  Lawyers of the  Department of Agrarian Reform ...       NaN
2907  Bank loans for micro-farmers under Kalap progr...       NaN
2908  Major Philippine banks came together to expres...       NaN
...                                                 ...       ...
3867  Proposed EBET law passed on 3rd reading; here'...       NaN
3868  The lower chamber recently gave its final appr...       NaN
3869  Immediate expansion of gov’t subsidies to kind...       NaN
3870  A network of advocates called for the immediat...       NaN
3871  P​H, China vow UNCLOS​ compliance, seek Indo-P...       NaN

[968 rows x 2 columns]

## GROUP A - GMA

In [ ]:
A = pd.read_csv(f'{dir}cleaned_newsArticles/gma-HL.csv')
A = A.sample(n=4032)
A

                                                   Text  Annotate
1074  The number of Filipinos against changing the C...       NaN
3401  Jinggoy Estrada calls ICC probers 'white monke...       NaN
2739  President Ferdinand “Bongbong” Marcos Jr. has ...       NaN
3384  The Department of Health (DOH) on Thursday mon...       NaN
272   Gatchalian wants corruption issues fixed befor...       NaN
...                                                 ...       ...
2311  House OKs bill allowing foreign private firms ...       NaN
2048  Gov't to push for digital media literacy campa...       NaN
492        Marcoses meet US VP Harris, Second Gentleman       NaN
2693  The Philippines placed 69th out of 131 countri...       NaN
1845  Zubiri eyes mandatory disclosure of students' ...       NaN

[4032 rows x 2 columns]

In [ ]:
A = pd.concat([A, Amb], axis=0)
A

                                                   Text  Annotate
1074  The number of Filipinos against changing the C...       NaN
3401  Jinggoy Estrada calls ICC probers 'white monke...       NaN
2739  President Ferdinand “Bongbong” Marcos Jr. has ...       NaN
3384  The Department of Health (DOH) on Thursday mon...       NaN
272   Gatchalian wants corruption issues fixed befor...       NaN
...                                                 ...       ...
963       Grand, Mega lotto jackpots still up for grabs       NaN
964   No one hit the jackpot prizes for Grand Lotto ...       NaN
965   PRC announces results for April 2023 Electroni...       NaN
966   The Professional Regulation Commission (PRC) a...       NaN
967       Tulfo most trusted, approved senator — survey       NaN

[5000 rows x 2 columns]

In [ ]:
A = A.reset_index()
A = A.drop('index', axis=1)
A

                                                   Text  Annotate
0     The number of Filipinos against changing the C...       NaN
1     Jinggoy Estrada calls ICC probers 'white monke...       NaN
2     President Ferdinand “Bongbong” Marcos Jr. has ...       NaN
3     The Department of Health (DOH) on Thursday mon...       NaN
4     Gatchalian wants corruption issues fixed befor...       NaN
...                                                 ...       ...
4995      Grand, Mega lotto jackpots still up for grabs       NaN
4996  No one hit the jackpot prizes for Grand Lotto ...       NaN
4997  PRC announces results for April 2023 Electroni...       NaN
4998  The Professional Regulation Commission (PRC) a...       NaN
4999      Tulfo most trusted, approved senator — survey       NaN

[5000 rows x 2 columns]

In [ ]:
A.to_csv(f'{dir}cleaned_newsArticles/groupA-annotation.csv')

## GROUP B - Rappler

In [ ]:
B = pd.read_csv(f'{dir}cleaned_newsArticles/rappler-HL.csv')
B = B.sample(n=4032)
B

                                                   Text  Annotate
1172  Ressa’s acquittal impacts investment climate p...       NaN
3239  FULL TEXT: Vice president-elect Sara Duterte i...       NaN
1918  Highlights of WHO chief’s visit to Manila, a s...       NaN
598   MANILA, Philippines – Due to the scheduled nat...       NaN
1569  MANILA, Philippines – The Senate and the House...       NaN
...                                                 ...       ...
2505  MANILA, Philippines – The Philippine National ...       NaN
1803  MANILA, Philippines – The Sandiganbayan cleare...       NaN
415                 Sugar regulation chief Alba resigns       NaN
2182  Marcos on 1st 100 days: ‘Putting out fires, fi...       NaN
128   ‘Long overdue justice’: De Lima says she will ...       NaN

[4032 rows x 2 columns]

In [ ]:
B = pd.concat([B, Bmb], axis=0)
B = B.reset_index()
B = B.drop('index', axis=1)
B

                                                   Text  Annotate
0     Ressa’s acquittal impacts investment climate p...       NaN
1     FULL TEXT: Vice president-elect Sara Duterte i...       NaN
2     Highlights of WHO chief’s visit to Manila, a s...       NaN
3     MANILA, Philippines – Due to the scheduled nat...       NaN
4     MANILA, Philippines – The Senate and the House...       NaN
...                                                 ...       ...
4995  The National Security Council (NSC)  “with gre...       NaN
4996  Tolentino: Include simulation of OFW evacuatio...       NaN
4997  Senator Francis "Tol" Tolentino on Monday, Apr...       NaN
4998  PH can learn from Japan’s drastic smoking rate...       NaN
4999  The Philippines – where 1 in 4 adults are smok...       NaN

[5000 rows x 2 columns]

In [ ]:
B.to_csv(f'{dir}cleaned_newsArticles/groupB-annotation.csv')

## GROUP C - PNA

In [65]:
C = pd.read_csv(f'{dir}cleaned_newsArticles/pna-HL.csv')
C = C.sample(n=4032)
C

                                                   Text  Annotate
3960  Bill on developing sustainable communities get...       NaN
3596  Senate ratifies RCEP, eyes creation of oversig...       NaN
3958  Senior citizen in Davao del Sur claims P35-M l...       NaN
2962       ‘Amihan’ continues to bring rains over Luzon       NaN
3352  PH-Israel: Enhancing 65 years of friendship th...       NaN
...                                                 ...       ...
4263  MANILA – The northeast monsoon or "amihan" is ...       NaN
3146  Romualdez offers P500-K reward for arrest of S...       NaN
1115  MANILA – Government agencies have to work toge...       NaN
1978  BOC seizes undeclared USD167-K from Korean tra...       NaN
3819  MANILA – The Department of Foreign Affairs (DF...       NaN

[4032 rows x 2 columns]

In [66]:
C = pd.concat([C, Cmb], axis=0)
C = C.reset_index()
C = C.drop('index', axis=1)
C

                                                   Text  Annotate
0     Bill on developing sustainable communities get...       NaN
1     Senate ratifies RCEP, eyes creation of oversig...       NaN
2     Senior citizen in Davao del Sur claims P35-M l...       NaN
3          ‘Amihan’ continues to bring rains over Luzon       NaN
4     PH-Israel: Enhancing 65 years of friendship th...       NaN
...                                                 ...       ...
4995  PH diplomat tells China not to question PH-US ...       NaN
4996  Philippine Ambassador to the United States Jos...       NaN
4997  China enjoins Asian countries to uphold ‘strat...       NaN
4998  China wants countries in Asia to “uphold strat...       NaN
4999  Public told: ‘Remember, honor, emulate valor o...       NaN

[5000 rows x 2 columns]

In [68]:
C.to_csv(f'{dir}cleaned_newsArticles/groupC-annotation.csv', index=False)

## GROUP D - Sunstar

In [ ]:
D = pd.read_csv(f'{dir}cleaned_newsArticles/sunstar-HL.csv')
D = D.sample(n=4032)
D

                                                   Text  Annotate
3965  CITY OF SAN FERNANDO Teachers who will man pol...       NaN
3656  CITY OF SAN FERNANDO---The Philippine Atmosphe...       NaN
1995          Society columnist Flor Ynclino dies at 89       NaN
710   U.S.-Supported digital platforms to increase a...       NaN
4219     Pampanga councilors meet with tourism officers       NaN
...                                                 ...       ...
1878  AROUND 100 children 12 years old and under par...       NaN
4144  CITY OF SAN FERNANDO The Department of Social ...       NaN
3456  The Traffic Enforcement Unit (TEU) of the Dava...       NaN
3810  Hann Resorts has introduced the second of its ...       NaN
1081  THE Philippine government has maintained its s...       NaN

[4032 rows x 2 columns]

In [ ]:
D = pd.concat([D, Dmb], axis=0)
D = D.reset_index()
D = D.drop('index', axis=1)
D

                                                   Text  Annotate
0     CITY OF SAN FERNANDO Teachers who will man pol...       NaN
1     CITY OF SAN FERNANDO---The Philippine Atmosphe...       NaN
2             Society columnist Flor Ynclino dies at 89       NaN
3     U.S.-Supported digital platforms to increase a...       NaN
4        Pampanga councilors meet with tourism officers       NaN
...                                                 ...       ...
4995  Proposed EBET law passed on 3rd reading; here'...       NaN
4996  The lower chamber recently gave its final appr...       NaN
4997  Immediate expansion of gov’t subsidies to kind...       NaN
4998  A network of advocates called for the immediat...       NaN
4999  P​H, China vow UNCLOS​ compliance, seek Indo-P...       NaN

[5000 rows x 2 columns]

In [ ]:
D.to_csv(f'{dir}cleaned_newsArticles/groupD-annotation.csv')